.hour-label {
    line-height: .75;
    font-style: oblique;
}

.hour-slot {
    line-height: .75;
}

ul {
    list-style: none;
}

.hour-slot ul li {
    padding: 8px;
    border-radius: 4px;
}

.hour-planner {
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(177, 216, 183);
    width: 500px;
}

.hour-planner-text {
    margin-top: 0;  
    color: white; 
}

.hour-label {
    color: white;
    font-size: larger;
}
