.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "hourPlanner list notepad";
  gap: 20px;
  padding: 50px;
}

.instruction-pane-container {
  background-color: rgba(94, 131, 43, 0.596);
  border-radius: 10px;
  border: 2px solid white;
  width: 250px;
  height: 250px;
}

.instruction-pane {
  color: white;
}

.random-task-container {
  background-color: rgba(94, 131, 43, 0.596);
  border-radius: 10px;
  border: 2px solid white;
  width: 250px;
  height: 250px;
}

.random-task {
  color: white;
}

.theme-selector-container {
  background-color: rgba(94, 131, 43, 0.596);
  border-radius: 10px;
  border: 2px solid white;
  width: 250px;
  height: 150px;
}

.theme-selector {
  color: white;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 100px;
  grid-area: list;
}

.HourPlanner {
  grid-area: hourPlanner;
}

.notepad-container {
  grid-area: notepad;
}

.first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.second-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weather-container {
  width: 250px;
  background-color: rgba(94, 131, 43, 0.596);
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 20px;
}

.notepad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 250px;
  height: 450px;
  background-color: rgba(94, 131, 43, 0.596);
  border-radius: 10px;
  border: 2px solid white;
}
