.notepad {
    position: relative;
    
}

.notes-label {
    color: white;
    
}

.notepad-textarea {
    padding: 20px;
    width: 250px;
    top: 40%;
    height: 375px;
    background-color: #b1d8b7;
    font-size: 16px;
    border: none;
    resize: none;
}
